@model PagedResult<ProductVm>

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

@{ 
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@section Script{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.Keyword" placeholder="Nhập từ khoá..." name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <select name="categoryId" onchange="this.form.submit()" asp-items="@ViewBag.Categories" class="form-control">
                                    <option>--Chọn danh mục--</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-outline-success">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-dark text-center">
                            <th>
                                Mã SP
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Hình ảnh
                            </th>
                            <th>
                                Giá nhập
                            </th>
                            <th>
                                Giá bán
                            </th>
                            <th>
                                Số lượng tồn
                            </th>

                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <img style="height:100px;width:100px" src="@(Configuration["BaseAddress"] + "/user-content/" +  item.ThumbnailImage)" alt="@item.Name" />
                                    <br>
                                    <a class="btn btn-sm btn-info" asp-controller="Product" asp-action="UpdateImage" asp-route-id="@item.Id">Sửa hình ảnh</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                    <br>
                                    @*@Html.ActionLink("Sửa giá", "EditPrice", new { id = item.Id , price = item.Price })*@
                                    <a class="btn btn-sm btn-warning" asp-controller="Product" asp-action="EditPrice" asp-route-id="@item.Id" asp-route-stock="@item.Price">Sửa giá</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                    <br>
                                    @*@Html.ActionLink("Sửa số lượng", "EditStock", new { id = item.Id , stock = item.Stock })*@
                                    <a class="btn btn-sm btn-success" asp-controller="Product" asp-action="EditStock" asp-route-id="@item.Id" asp-route-stock="@item.Stock">Sửa số lượng</a>
                                </td>
                                <td>
@*                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Xem", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id }) |
                                    @Html.ActionLink("Gán danh mục", "CategoryAssign", new { id = item.Id }) |    *@
                                    <a class="btn btn-sm btn-success" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                                    <a class="btn btn-sm btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Xem</a> |
                                    <a class="btn btn-sm btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Xoá</a> |
                                    <a class="btn btn-sm btn-info" asp-controller="Product" asp-action="CategoryAssign" asp-route-id="@item.Id">Gán danh mục</a>
                                </td>
                            </tr>
                         }
                    </tbody>
                </table>
            </div>
            @*@await Component.InvokeAsync("Pager", Model)*@
        </div>
    </div>
</div>